
// Planet header left/right float size
$hf-header-gradient_and_inner_float_size: 12.5%;
$hf-header-gradient-pannel-width:   $hf-header-gradient_and_inner_float_size;
$hf-header-inner-left:              $hf-header-gradient_and_inner_float_size;
$hf-header-inner-right:             $hf-header-gradient_and_inner_float_size;