<div id="home-carousel" class="carousel slide carousel-fade" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <div class="carousel-img" style="background: url(/img/carousel/carousel_welcom.jpg);"></div>
            <div class="carousel-caption"><span>Welcome to HereFan</span></div>
        </div>
        <div class="item">
            <div class="carousel-img" style="background: url(/img/carousel/carousel_know.jpg);"></div>
            <div class="carousel-caption"><span>The easiest and fastest way<br>to be a real Fan.</span></div>
        </div>
        <div class="item">
            <div class="carousel-img" style="background: url(/img/carousel/carousel_editors.jpg);"></div>
            <div class="carousel-caption"><span>We are looking for EDITORS<br>to grow with HereFan.</span></div>
        </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#home-carousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#home-carousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>