@import "utility/utill";


#goBackBtn{
    position: absolute;
    left: -100px;
    top: 70px;
    font-size: 18px;
    text-transform: capitalize;
    color: #999;
    font-weight: 600;
    
    & span{
        font-size: 22px;
        position: relative;
        top: 2px;
    }
}

#edit_user{
    #deleteAccountBtn{
        box-shadow: none;
        color: #1bacaa;
        font-weight: 600;
        text-transform: capitalize;
        padding: 0;
        font-size: 16px;
        background: none;
        
        &:hover{
            font-weight: 700;
        }
    }
}