html,
body{
    font-family: 'Nunito', sans-serif !important;
}

/********************************/
/*        Navigation Bar        */
/********************************/

#top-fandoms a:not(.active){
    .zmdi-caret-up:before{
        content: '\f2f2';
    }
}
#follow_list_box{
    top: 62px !important;
    
    &.hi_de{
        top: -15px !important;
    }
}

#header{
    z-index: 11;
    min-height: 60px; // Add for design
    
    // Opt-In :design:
    //background: none;     // design Before
    background: #ffde55;    // design After
    
    box-shadow: none !important;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
    
    &.init_header {
        //background-color: #2196f3 !important;
        //box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3) !important;
    }
    
    .main_menu{
        margin-left: 29px;
        
        a{
            padding: 7px 20px;
            color: #efefef;
            font-size: 16px;
            font-weight: 700;
            
            &:hover{
                color: #FFFFFF;
            }
        }
        
        .active a{
            color: #1bacaa !important;
        }
    }
    
    .top-menu{
        & > li{
            &:before{
                display: none; // 이거 하나로 상단 좌측 li 의 hover 효과를 무력화 시켰음.
            }
            
            a{
                color: #EFEFEF;
            }
        }
        
        #top-fandoms{
            a{
                font-size: 16px;
                font-weight: 700;
                padding: 7px 0;
                text-transform: capitalize;
                
                &.active{
                    color: #1bacaa;
                }
            }
        }
    
        .new_nav_profile{
        
            .nav_profile2 {
                margin: 0 30px;
                
                & > .bg_img_cover{
                    width: 40px;
                    height: 40px;
                    position: absolute;
                    top: -3px;
                    left: 0;
                    right: 0;
                    margin: auto;
                    border: 1px solid #ccc;
                }
            }
        
            .nav_profile2-name {
                display: none !important;
            }
        }
        
        .dropdown-menu{
            
            .listview{
                
                .lv-body{
                    padding: 0 10px;
                    
                    .lv-item{
                        padding: 10px 0;
                        border-bottom: 1px solid #ccc;
                        &:hover{
                            background: #ccc !important;
                        }
                        
                        .media{
                            .media-body{
                                .lv-title{
                                    text-align: center;
                                    text-transform: capitalize;
                                    font-weight: 400;
                                    font-size: 18px;
                                    
                                    &.signout{
                                        font-weight: 600;
                                        color: #1bacaa;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    
}

.header-inner{
    padding: 11px 0; // Add for design
}

.main_menu{
    a{
        color: #fff;
        text-transform: uppercase;
        display: block;
        font-size: 15px;
    }
}

#header .logo{
    position: absolute;
    left: 30%;
    right: 30%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-weight: bold;
    
    top: 0;         // design
    height: 100%;   // design
    
    a{ // design
        padding: 0;
        height: 100%;
        
        img{ // design
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            margin: auto;
        }
    }
}

#header .logo .hf-logo{
    width: 45px;
    height: 35px;
}

#Pshare-dd-menu {
    &.dropdown-menu{
        &:before {
            content: '';
            position: absolute;
            width: 0;
            height: 0;
            top: 60px;
            left: -20px;
            border-bottom: 10px solid transparent;
            border-left: 10px solid transparent;
            border-right: 10px solid #FFF;
            border-top: 10px solid transparent;
        }
    }
    
}
.dropdown-menu{
    &:before {
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        top: -20px;
        right: 15px;
        border-bottom: 10px solid #fff;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 10px solid transparent;
    }
}




/********************************/
/*        Carousel Style        */
/********************************/
.channel {
    .carousel-inner {
        & > .item.active {
            & > .carousel-img{
                height: 260px !important;
                //background-size: auto 260px !important;
                //background-image: none !important;
                background-size: 75% !important;
                background-color: #ffde55 !important;
            }
        }
    }
    
    &.carousel{
        .carousel-caption{
            .channel_info{
                box-sizing: border-box;
                width: 210px;
                height: 100px;
                position: absolute;
                top: 100px;
                right: 0;
                left: 0;
                margin: 40px auto;
                padding: 10px 0;
                
                .channel_followBtn{
                    position: relative;
                    left: 0;
                    margin: 0;
                    margin-left: 3px;
                    text-align: center;
                    right: initial;
                    bottom: initial;
                    float: left;
                }
                
                &:before{
                    content: '';
                    width: 80px;
                    height: 80px;
                    position: absolute;
                    top: -75px;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    margin: 0 auto;
                    background-color: #ffffff;
                    border-radius: 40px;
                    background-size: cover;
                }
            }
            
            .channel_name,
            .channel_follow_count{
                position: relative !important;
                top: 0 !important;
                text-align: center !important;
            }
            .channel_name{
                font-weight: 700 !important;
                margin: 0 !important;
            }
            .channel_follow_count{
                font-weight: 400 !important;
                color: #ddd !important;
                margin: 0 0 10px 2px !important;
            }
            
            .channel_followBtn{
                min-width: 80px !important;
                height: 30px !important;
                position: absolute;
                left: 0;
                right: -29%;
                bottom: 60px;
                margin: auto;
                background: transparent;
                border: 1px solid #eee;
                font-size: 16px;
                font-weight: 300;
                padding: 3px 12px;
                text-transform: capitalize;
                cursor: pointer;
                text-shadow: 0 0 1px rgba(0, 0, 0, 0.4);
                
                &.following{
                    border: 1px solid #fff;
                    
                    &:not(.active){
                        margin-left: 20px;
                    }
                    
                    span{
                        color: #fff !important;
                        font-weight: 700;
                        
                        &.zmdi{
                            &.zmdi-star{
                                &:before{
                                    content: '\f27d';
                                    display: block !important;
                                }
                            }
                        }
                    }
                }
                
                span{
                    color: #eee;
                }
                &:hover{
                    font-weight: 700;
                    
                    span{
                        color: #ffffff;
                    }
                }
                
                span:before{
                    display: none;
                }
            }
        }
    }
}
.channel .carousel-inner > .item.active > .carousel-img:after{
    content: '';
    width: 100%;
    height: 350px;
    position: absolute;
    top: 0;
    left: 0;
    //background: #000;
}

#Pshare-dd-menu {
    position: absolute !important;
    width: 250px !important;
    top: 0 !important;
    left: 185px !important;
    margin: 0 !important;
}

.carousel {
    .carousel-caption{
        background: url() !important;
        background-size: 100% 100% !important;
        background-position: 35px 30px !important;
        background-repeat: no-repeat !important;
        
        &:before{
            width: 280px !important;
            height: 280px !important;
            top: 20px !important;
            left: 0 !important;
            border: none !important;
        }
    }
}


/********************************/
/*         Sub Nav Style        */
/********************************/

#sub-nav {
    width: 100%;
    background: #ffffff;
    //border-bottom: 1px solid #b3b3b3;
    box-shadow: 0 1px 1px rgba(204, 204, 204, 0.9);

    .tab-group{
        text-align: center;
        list-style: none;
        margin-bottom: 0;

        & > .tab{
            position: relative;
            display: inline-flex;
            margin: 0;

            & > .tab_link {
                padding: 14px 15px;
                font-size: 22px;
            }
        }
    }
}


.tab {
    & > .tab_link {
        color: #999999;
        font-weight: 600;
        font-size: 15px;
        text-transform: capitalize;

        &:hover{
            color: #1bacaa;
        }
        &.active{
            /* #2196f3 #1d84d6 */
            //border-bottom: 3px solid #2196f3;
            color: #1bacaa;
            font-weight: 700;
        }
    }
}


@media (max-width: 430px) {
    .tab-group > .tab {
        margin: 0 3px !important;
    }
    .tab-group > .tab > .tab_link {
        padding: 10px 5px !important;
    }
}


#sub-nav[data-loc='home']{
    background: #00c9c6;
    
    .tab-group{
        & > .tab{
            & > .tab_link{
                color: #efefef;
                font-size: 22px;
                font-weight: 600;
                
                &:hover{
                    color: #343e9d;
                }
                &.active{
                    color: #343e9d;
                    font-weight: 700;
                }
            }
        }
    }
}












#channels{
    .hf-e-body{
        padding-bottom: 1px;
        
        h2.text{
            font-size: 18px;
            font-weight: 700;
            color: #0b1742;
            margin-bottom: 0;
        }
        .pv-follow{
            margin: 0;
            background: none;
            border: none;
            padding: 0;
            font-weight: 400;
            font-size: 16px;
            color: #b3b3b3;
        }
        .pv-follow-btn{
            background: none;
            color: #b3b3b3;
            font-size: 16px;
            font-weight: 600;
            border: 1px solid #ccc;
            margin: 15px auto 19px;
            max-width: 80px;
            padding: 3px;
            
            &.followed{
                border: none;
                max-width: 200px;
                color: #343e9d;
                font-weight: 600;
                
                &:before{
                    display: inline-block;
                    font: normal normal normal 14px/1 'Material-Design-Iconic-Font';
                    font-size: 20px;
                    text-rendering: auto;
                    -webkit-font-smoothing: antialiased;
                    -moz-osx-font-smoothing: grayscale;
                    //content: '\f27d';
                    position: absolute;
                    width: 15px;
                    height: 15px;
                }
            }
        }
    }
    
    .unpublished_channels{
        margin-top: 72px;
        
        h2{
            color: #343e9d;
            font-size: 35px;
            font-weight: 700;
            padding-left: 10px;
            
            small{
                margin-top: 30px;
                color: #1bacaa;
                font-size: 16px;
                font-weight: 400;
            }
        }
        
        .inactive{
            &:before {
                content: '' !important;
                height: 180px !important;
                background: rgba(7, 23, 75, 0.61) !important;
            }
            
            .pv-follow{
                max-height: 0;
                
                li{
                    font-family: 'Nunito', sans-serif !important;
                    &:after{
                        content: '10 more followers to go!' !important;
                        opacity: 1 !important;
                        font-weight: 600;
                        font-size: 16px;
                        color: #FFFFFF;
                        position: absolute;
                        bottom: -80px;
                        left: 0;
                        right: 0;
                    }
                }
            }
        }
    }
}



#wiki-ground h2.sub_title{
    margin-bottom: 30px !important;
    margin-top: 30px !important;
    font-weight: 600 !important;
}

#main_contents-box .wiki-section .section-contents{
    line-height: 32px;
    padding: 0 70px !important;
}

#main_contents-box .wiki-section .sub_title .feature{
    padding: 6px 10px !important;
    
    &:nth-child(1){
        margin-left: 50px;
    }
}

#wiki-ground #contents_widget-box ul,
#wiki-ground #contents_widget-box ol,
#wiki-ground #contents_widget-box ol a,
#wiki-ground #contents_widget-box li{
    font-size: 16px;
    line-height: 1.2;
    list-style-type: lower-roman;
    text-transform: capitalize;
    padding: 10px 0;
    color: #000;
    font-weight: 400;
    cursor: pointer;
    
    &:hover{
        font-weight: 600;
    }
}

#language_control-box {
    width: 150px !important;
}


/********************************/
/*     Select Planets Page      */
/********************************/

.methods-wrapper{
    list-style: none;
    position: relative;
    padding-right: 60px;
    padding-top: 15px;
    
    
    li.method{
        display: inline-block;
        float: right;
        margin-left: 15px;
        
        .methodBtn{
            font-size: 16px;
            font-weight: 400;
            color: #B3B3B3;
            text-transform: capitalize;
            
            &:hover{
                font-weight: 600;
            }
        }
        
        &.active .methodBtn{
            color: #1bacaa;
        }
    }
}


/********************************/
/*     Suggest Planet Modal     */
/********************************/

.modal-backdrop{
    background-color: #343e9d;
}

#suggest_channel_modal{
    @media (min-width: 768px){
        .modal-md{
            width: 500px;
        }
    }
    .modal-dialog{
        border: solid 1px #cccccc;
    }
    
    .modal-content{
        border-radius: 0;
        
        .modal-header{
            padding: 40px 30px 20px;
            
            button.close{
                font-size: 30px;
                color: #cccccc;
                opacity: 1;
                font-weight: 900;
                position: relative;
                right: -15px;
                top: -25px;
                
                &:hover{
                    color: #999999;
                }
            }
            
            .modal-title{
                color: #1bacaa;
                font-size: 35px;
                font-weight: 700;
            }
        }
        
        .modal-body{
            padding: 20px 65px;
            
            & > p{
                font-weight: 600;
                color: #343e9d;
            }
            
            .input-group{
                .fg-label{
                    font-weight: 300;
                    color: #b3b3b3;
                    font-size: 12px;
                }
            }
        }
    }
    
    .modal-footer{
        padding: 20px 0 40px;
        text-align: center;
        
        button#saveBtn{
            text-transform: capitalize;
            width: 100px;
            height: 45px;
            color: #eeeeee;
            font-size: 18px;
            font-weight: 600;
            background-color: #00c9c6 !important;
            border-radius: 0;
            box-shadow: none;
        }
    }
}


/********************************/
/*     Account Setting Page     */
/********************************/

form#edit_user{
    
    #hf-fileinput{
        margin-top: -50px;
    }
    
    .input-feilds{
        & > div{
            &[data-contain='horisontal-divider']{
                p{
                    margin: 50px 0 30px;
                    color: #a6a6a6;
                    font-size: 22px;
                    font-weight: 600;
                }
            }
            
            .input-group{
                border: 1px solid #ccc;
                
                &:focus{
                    border: 1px solid #666666;
                }
            }
            
            .input-group-addon:first-child{
                color: #ccc;
                font-size: 15px;
                font-weight: 600;
                padding: 8px 10px 12px;
                
                .zmdi{
                    color: #1bacaa;
                    font-size: 24.01px;
                    top: 4px;
                }
            }
            
            .fg-line{
                float: right;
                max-width: 400px;
                
                input.form-control{
                    color: #666666;
                    font-size: 18px;
                    font-weight: 300;
                }
            }
            
            &[data-contain="nickname"],
            &[data-contain="name"]{
                .fg-line{
                    max-width: 340px;
                }
            }
            
            &[data-contain='submit']{
                .submiter{
                    font-size: 18px;
                    padding: 10px;
                    
                    &:first-child{
                        background-color: #ffde55 !important;
                        font-weight: 600;
                    }
                    &:last-child{
                        background-color: #00c9c6 !important;
                        font-weight: 700;
                    }
                }
            }
        }
    }
}



/********************************/
/*        Toolbar Style         */
/********************************/

section#toolbar{
    margin: 0 auto;
    padding: 12px 60px 0;
    
    .row{
        //max-width: 960px;
        //margin: 0 auto;
    }
    
    .left_group{
        
        & > li{
            a{
                padding: 4px 12px;
                font-size: 16px;
                font-weight: 400;
                color: #343e9d;
                
                &:hover{
                    font-weight: 600;
                }
            }
            
            &.active{
                a{
                    background-color: #343e9d;
                    color: #FFFFFF;
                    border-radius: 15px;
                }
            }
        }
    }
    
    .right_group{
        a{
            font-size: 16px;
        }
        
        .dropdown-menu{
            border: 1px solid #ccc;
            
            &:before{
                display: none;
            }
        }
        
        .dropdown-toggle{
            border: 1px solid #b3b3b3;
            color: #b3b3b3;
            font-size: 16px;
            font-weight: 600;
        }
    }
}




/********************************/
/*    Library Upload Modal      */
/********************************/

#add_link_modal{
    .modal-dialog{
        .modal-content{
            border-radius: 0;
            
            .modal-header{
                padding: 35px 30px 0;
                
                .modal-title{
                    color: #1bacaa;
                    font-size: 35px;
                    font-weight: 700;
                }
            }
        }
    }
}

#add_link_modal{
    @media (min-width: 768px){
        .modal-md{
            width: 500px;
        }
    }
    .modal-dialog{
        border: solid 1px #cccccc;
    }
    
    .modal-content{
        border-radius: 0;
        
        .modal-header{
            padding: 35px 30px 0;
            
            button.close{
                font-size: 30px;
                color: #cccccc;
                opacity: 1;
                font-weight: 900;
                position: relative;
                right: -15px;
                top: -25px;
                
                &:hover{
                    color: #999999;
                }
            }
            
            .modal-title{
                color: #1bacaa;
                font-size: 35px;
                font-weight: 700;
            }
        }
        
        .modal-body{
            padding: 50px 30px;
            
            & > p{
                font-weight: 600;
                color: #343e9d;
            }
            
            .input-group{
                .fg-label{
                    font-weight: 300;
                    color: #b3b3b3;
                    font-size: 12px;
                }
                
                .input-group-addon{
                    color: #343e9d;
                    font-size: 16px;
                    font-weight: 600;
                    padding-left: 0;
                }
                
                .label_text{
                    font-size: 12px;
                    font-weight: 300;
                    color: #666666;
                }
            }
        }
    }
    
    .modal-footer{
        padding: 0 0 30px;
        text-align: center;
        
        button{
            text-transform: capitalize;
            width: 100px;
            height: 45px;
            color: #eeeeee;
            font-size: 18px;
            font-weight: 600;
            background-color: #00c9c6 !important;
            border-radius: 0;
            box-shadow: none;
        }
    }
}


/********************************/
/*   Library Link Card Style    */
/********************************/

#libraries_wrapper{
    //max-width: 960px;
    //margin: 0 auto;
}

.card.blog-post{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0 0 4px rgba(0,0,0,0.4);
    -webkit-transition: all 250ms ease;
    -moz-transition: all 250ms ease;
    -ms-transition: all 250ms ease;
    -o-transition: all 250ms ease;
    transition: all 100ms ease;
    
    &:hover{
        box-shadow: 0 0 9px rgba(0,0,0,0.7) !important;
    }
    
    .bp-header{
        .bp-title{
            background: #FFFFFF;
            padding: 20px 15px 35px;
            
            h2.linkcard-title{
                font-size: 16px;
                color: #000;
                font-weight: 600;
                padding-right: 15px;
                line-height: 1.3;
            }
            
            small.linkcard-description{
                font-size: 15px;
                font-weight: 400;
                color: #666666;
                word-wrap: break-word;
            }
            
            p.link-url{
                text-align: right;
                margin: 20px 0 0;
                color: #ccc;
                font-weight: 300;
                font-size: 14px;
                white-space: pre;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
        
        .actions{
            &.moreBtn{
                margin-top: 15px !important;
                margin-right: 10px;
                
                .dropdown-menu{
                    right: -15px;
                    top: 150%;
                }
            }
            
            &.actions-alt > li > a > i{
                color: #b3b3b3;
                font-size: 15px;
                top: 2px;
                position: relative;
            }
            & > li > a{
                width: 20px;
                height: 20px;
                padding:  0;
            }
        }
    }
    
    .user_profile{
        padding: 10px 0 0 15px;
        background: #FFFFFF;
        border-top: 3px solid #f5f5f5;
        
        .media .pull-left .lv-img-sm{
            border: 1px solid #ccc;
        }
        
        .lv-title{
            color: #999;
            font-size: 14px;
            font-weight: 600;
        }
        .lv-small{
            color: #999;
            font-size: 12px;
            font-weight: 300;
        }
    }
    
    .actions_box.design{
        position: relative;
        padding: 0;
        max-width: none;
        display: flex;
        
        .action{
            margin-top: -30px;
            padding-right: 15px;
            
            &.viewcount{
                text-align: left;
                
                span{
                    color: #bbb;
                    font-weight: 300;
                }
            }
            &.maum{
                .zmdi-favorite-outline{
                    color: #B3B3B3 !important;
                }
                &:hover .zmdi-favorite-outline,
                &:hover .zmdi-favorite{
                    -webkit-transform: rotate(-20deg);
                    -moz-transform: rotate(-20deg);
                    -ms-transform: rotate(-20deg);
                    -o-transform: rotate(-20deg);
                    transform: rotate(-20deg);
                }
            }
            
            span{
                color: #b3b3b3;
                font-size: 15px !important;
                top: 1px !important;
            }
        }
        .share_box{
            text-align: left;
            & > a{
                margin: 5px -15px;
                font-size: 15px;
                color: #B3B3B3;
                
                &:hover i{
                    -webkit-transform: rotate(-20deg);
                    -moz-transform: rotate(-20deg);
                    -ms-transform: rotate(-20deg);
                    -o-transform: rotate(-20deg);
                    transform: rotate(-20deg);
                }
                &:focus i,
                &:active{
                    color: #343e9d;
                }
            }
        }
    }
    .share_box{
        margin-top: -29px;
        cursor: pointer;
        
        .dropdown-menu{
            border: 1px solid #ccc !important;
            
            &:before{
                display: none;
            }
        }
    }
    
    .msg-box{
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        
        .msg{
            font-size: 15px;
            color: #aaa;
            font-weight: 400;
        }
    }
    
    &:not(.visited):after{
        display: none;
    }
    &.visited{
        box-shadow: 0 0 2px rgba(0,0,0,0.2);
        
        .user_profile{
            background: #f3f3f3;
            border-top: 3px solid #e0e0e0;
        }
        .msg-box{ background: #f3f3f3 }
        .bp-title{
            background: #f3f3f3;
            
            h2.linkcard-title{
                color: #666;
                font-weight: 400;
            }
    
            small.linkcard-description{
                color: #666;
            }
        }
    }
    
    &:not(.clipped) .clip{
        color: #00c9c6;
    }
    &.clipped{
        .clip{
            color: #00c9c6;
        }
    }
}





/********************************/
/*    Layout Other Elements     */
/********************************/

// go top scroll button
#goTopBtn_renewal{
    bottom: 115px;
    right: 3%;
    position: fixed !important;
    z-index: 3;
    padding: 7px 12px;
    transition: all 100ms ease !important;
    
    i{
        color: #00c9c6 !important;
        transform: rotate(-90deg);
        font-weight: 900;
        font-size: 25px;
        position: relative;
        left: -0.5px;
    }
    
    &:hover{
        padding-top: 3px;
    }
}

#addLinkBtn_renewal{
    bottom: 50px;
    right: 3%;
    position: fixed !important;
    z-index: 3;
    
    i{
        color: #00c9c6 !important;
        transition-duration: 100ms;
    }
    
    &:hover i{
        transform: rotate(20deg);
    }
}




/********************************/
/*          Wiki Style          */
/********************************/
#main_contents-box .wiki-section .sub_title{
    .feature{
        &.feature-add{
            padding: 6px 20px;
            background-image: none;
            box-shadow: none;
            font-weight: bold;
            font-size: 22px;
            margin-left: 0;
            text-transform: capitalize;
            
            .zmdi{
                font-size: 25px;
                position: relative;
                top: 2px;
                margin-right: 5px;
            }
        }
    }
}

#wiki-ground{
    & > .container{
        & > .row{
            margin-top: 1px;
        }
    }
    
    #contents_widget-box{
        width: 230px;
    }
    
    &[data-page='posts'],
    &[data-page='post'],
    &[data-page='edit'],
    &[data-page='new']{
        & > .container > .row{
            max-width: 960px;
            margin: 1px auto 0;
        }
        
        // Index Page
        #main_contents-box{
            padding: 25px;
            padding-bottom: 125px;
            
            & > p{
                font-weight: 600;
                margin-bottom: 0;
                padding: 0 130px 20px;
                
                &:nth-child(1){
                    margin-top: 30px;
                    font-size: 18px;
                    font-weight: 600;
                    
                    a{ color: #00c9c6; }
                }
                &:nth-child(2){
                    margin-top: 20px;
                    font-size: 22px;
                    text-transform: capitalize;
                    
                    span:not(.edge){
                        text-transform: initial;
                        color: #1bacaa;
                        margin-left: 20px;
                    }
                    span.edge{
                        cursor: pointer;
                    }
                }
            }
            
            & > div.author{
                padding: 0 150px;
                margin-bottom: 70px;
                
                p{
                    margin: 0;
                    padding-bottom: 15px;
                    font-size: 16px;
                    font-weight: 400;
                    color: #666;
                    
                    &:nth-child(1),
                    &:nth-child(3){
                        text-transform: capitalize;
                    }
                    
                    &:nth-child(2),
                    &:nth-child(4){
                        padding-left: 10px;
                    }
                    
                    &:nth-child(2){
                        padding-bottom: 20px;
                        
                        img{
                            border: 1px solid #ccc;
                            border-radius: 40px;
                            width: 40px;
                            height: 40px;
                        }
                        span{
                            margin-left: 10px;
                        }
                    }
                    &:nth-child(4){
                        color: #999;
                    }
                }
            }
            
            & > div:not(.author):not(.pagenation){
                max-width: 700px;
                margin: 20px auto 0;
                padding: 0 20px 150px;
                
                p:first-child{
                    font-size: 16px;
                    color: #666;
                    font-weight: 400;
                    line-height: 1.8;
                    
                    &.table-label{
                        font-size: 22px;
                        color: #999;
                        font-weight: 400;
                    }
                }
                div.note-editable{
                    min-height: 400px;
                    p{
                        font-size: inherit;
                        color: inherit;
                        font-weight: inherit;
                        line-height: inherit;
                    }
                }
                
                .table{
                    &.table-bordered{
                        thead, tbody, tfoot{
                            tr{
                                td, th{
                                    border: 2px solid #e0e0e0 !important;
                                    border-bottom: none !important;
                                    
                                    &:nth-child(3){
                                        width: 45%;
                                    }
                                }
                                
                                td{
                                    padding: 6px 12px;
                                    vertical-align: middle;
                                    text-align: center;
    
                                    &:last-child,
                                    &:nth-child(3){
                                        text-align: left;
                                    }
                                    &:nth-child(3){
                                        a{
                                            font-size: 16px;
                                        }
                                    }
                                    a{
                                        font-size: 14px;
                                        font-weight: 300;
                                        color: #000;
                                    }
                                    img{
                                        width: 30px;
                                        height: 30px;
                                        border: 1px solid #ccc;
                                        border-radius: 30px;
                                        margin-right: 5px;
                                    }
                                }
                            }
                        }
                    }
                    
                    th{
                        text-align: center;
                        text-transform: lowercase;
                        color: #B3B3B3;
                        font-size: 16px;
                    }
                }
            }
            
            & > div.pagenation{
                ul{
                    list-style: none;
                    padding: 0;
                    text-align: center;
    
                    li{
                        display: inline-block;
                        padding: 10px 0;
                        width: 700px;
                        
                        &:hover{
                            background: rgba(204, 204, 204, 0.50) !important;
                        }
                        
                        &:nth-child(1){
                            border-top: 1px solid #cccccc;
                        }
                        &:nth-child(2){
                            background: #F0F0F0;
                            border-top: 1px solid #ccc;
                            border-bottom: 1px solid #ccc;
                        }
                        
                        & > a{
                            max-width: 350px;
                            max-height: 85px;
            
                            span:nth-child(1){
                                color: #1bacaa;
                                font-size: 18px;
                                font-weight: 600;
                                display: inline-block;
                                padding-left: 50px;
                                text-transform: capitalize;
                            }
                            span:last-child{
                                font-size: 16px;
                                text-align: right;
                                width: 80%;
                                float: right;
                                padding-right: 50px;
                                max-height: 25px;
                                text-overflow: ellipsis;
                                overflow-y: hidden;
                                color: #666;
                            }
                        }
                    }
                }
            }
        }
        
        
        // Edit Page
        .hidden_field {
            display: none;
        }
    
        // placeholder
        ::-webkit-input-placeholder { color: #CCC; font-size: 16px; font-weight: 400; }
        :-moz-placeholder { color: #CCC; font-size: 16px; font-weight: 400; }              /* Firefox 4-18 */
        ::-moz-placeholder { color: #CCC; font-size: 16px; font-weight: 400; }             /* Firefox 19+ */
        :-ms-input-placeholder { color: #CCC; font-size: 16px; font-weight: 400; }         /* IE10+ */
        textarea{
            width: 100%;
            height: 300px;
            border: 1.5px solid #e0e0e0;
            background-color: #F0F0F0;
            //color: #5e5e5e;
            padding: 20px;
            //font-size: 15px;
            //font-weight: 600;
            //line-height: 1.8;
            
            &.edit-mode,
            &.create-mode{
                display: none;
            }
        }
        label{
            text-transform: capitalize;
            font-size: 16px;
            font-weight: 400;
            color: #999999;
            width: 15%;
            padding: 6px 0;
            text-align: left;
            float: left;
        }
        input[type='text']{
            position: relative;
            left: 0;
            right: 0;
            margin: 0 auto;
            width: 85%;
            padding: 6px 12px;
            font-size: 16px;
            color: #000;
        }
        input[type='submit']{
            position: absolute;
            left: 0;
            right: 0;
            width: 100px;
            height: 45px;
            border: none;
            background: #00c9c6;
            color: #eee;
            font-size: 18px;
            font-weight: 600;
            text-transform: capitalize;
            margin: 40px auto;
        }
        
        #wiki_post_title-edit_box{
            position: relative;
            top: -75px;
            left: 45px;
            
            #wiki_post_title{
                font-size: 22px;
                text-transform: capitalize;
                font-weight: 600;
                color: #5e5e5e;
                padding: 2px 1px;
                border: none;
                border-bottom: 2px solid #7e8aff !important;
                border-top-left-radius: 2px;
                border-top-right-radius: 2px;
    
                &:focus,
                &:hover{
                    padding: 1px 0 2px;
                    border: 1px solid rgba(223, 223, 223, 0.75);
                }
            }
        }
        
        #wiki_post_row_count-edit_box{
            position: absolute;
            top: 118px;
            left: 130px;
            
            #wiki_post_row_count{
                font-size: 22px;
                text-transform: capitalize;
                font-weight: 600;
                color: #5e5e5e;
                width: 45px;
                border: none;
                border-bottom: 2px solid rgb(231, 99, 99) !important;
                text-align: right;
                border-top-left-radius: 2px;
                border-top-right-radius: 2px;
                
                &:focus,
                &:hover{
                    padding: 0 0 1px;
                    border: 1px solid rgba(223, 223, 223, 0.75);
                }
            }
        }
        
        #hidden_closer{
            position: absolute;
            border-left: 18px solid transparent;
            border-top: 18px solid;
            border-right: 18px solid;
            border-bottom: 18px solid transparent;
            right: 15%;
            
            .zmdi{
                position: absolute;
                color: #fff;
                font-size: 16px;
                top: -16px;
                right: -14px;
                cursor: pointer;
            }
        }
    }
}







#libraries_wrapper[data-grid="5"]{
    
    .card.blog-post{
        .bp-header{
            .bp-title{
                padding: 20px 15px 42px;
                
                h2.linkcard-title{
                    font-weight: 700;
                    font-size: 13px;
                }
                small.linkcard-description{
                    font-size: 12px;
                }
                p.link-url{
                    display: none;
                }
            }
        }
    
        .actions_box{
            &.design{
                .action{
                    span{
                        font-size: 14px !important;
                    }
                }
            }
        }
    
        .user_profile{
            .media{
                .pull-left{
                    .lv-img-sm{
                        width: 36px;
                        height: 36px;
                    }
                }
                
                .media-body{
                    .lv-title{
                        font-size: 12px;
                    }
                }
            }
        }
    
        .msg-box{
            padding-top: 15px !important;
            
            .msg{
                margin-bottom: 5px;
                font-size: 12px;
            }
        }
    }
}







/********************************/
/*         Select Style         */
/********************************/

#channels .card.follow_card{
    .pv-follow-btn{
        text-transform: capitalize !important;
    }
    .pv-follow-btn.followed{
        display: none;
    }
    .pv-follow-btn:not(.followed){
        display: block;
    }
    
    &.followed{
        .pv-follow-btn.followed{
            display: block !important;
        }
        .pv-follow-btn:not(.followed){
            display: none !important;
        }
    }
    box-shadow: 0 0 5px rgba(0,0,0, 0.25);
    transition: all 200ms ease;
    &:hover{
        box-shadow: 0 0 20px rgba(0,0,0, 0.75);
    }
}

#channels .card.follow_card.newplanet{
    &:before{
        content: 'new';
        z-index: 2;
        color: #fff;
        font-size: 16px;
        font-weight: 400;
        width: 85px;
        height: 42.5px;
        position: absolute;
        top: -7px;
        left: -26px;
        transform: rotate(-45deg);
        padding: 18px 0;
        vertical-align: middle;
        text-align: center;
        border-bottom: 0.5px solid rgba(0,0,0,0.2);
        
        // 85, 42.5
    }
    &:after{
        content: '';
        z-index: 1;
        position: absolute;
        border-top: 30px solid #f5146c;
        border-left: 30px solid #f5146c;
        border-right: 30px solid transparent;
        border-bottom: 30px solid transparent;
        top: 0;
        left: 0;
    }
}