// Place all the styles related to the schedules controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#dataImgSet{
  display: none !important;
}

#calendar .fc-day-number {
  padding-left: 10px !important;
  color: #CCC;
  text-align: left !important;
}
@media screen and (min-width: 991px) {
  #calendar .fc-day-number {
    font-size: 18px;
    letter-spacing: -2px;
  }
}

.fc-event .fc-title {
  padding: 2px 8px;
  display: block;
  cursor: pointer;
  text-overflow: ellipsis;
  overflow-x: hidden;
}

.fc-day-grid-event .fc-content {
  white-space: nowrap;
  overflow: hidden;
}

.popover{
  z-index: 4;

  .zmdi{
    position: relative;
    float: right;
    top: 5px;
    right: 5px;
    cursor: pointer;
  }

  .popover_img{
    width: 100%;
    padding: 5px;

    img{
      max-width: 100%;
      max-height: 150px;
    }
  }
}

#calendar{

  .fc-toolbar{
    background-color: #323232;
    background-size: contain;
    background-position: center;
  }
}