<%= render partial: '/mypage/partials/plane_header', locals: {color_class: 'bgm-pink', style: ''} %>

<%= render partial: '/layouts/sub_nav', locals: {tabs: @tabs} %>

<h1>Mypage#contributed</h1>
<p>Find me in app/views/mypage/contributed.html.erb</p>
