<!-- Javascript Libraries -->
<script src="/template/vendors/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/template/vendors/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

<script src="/template/vendors/bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="/template/vendors/bower_components/Waves/dist/waves.min.js"></script>
<script src="/template/vendors/bootstrap-growl/bootstrap-growl.min.js"></script>
<script src="/template/vendors/bower_components/bootstrap-sweetalert/lib/sweet-alert.min.js"></script>
<script src="/template/vendors/bower_components/moment/min/moment.min.js"></script>
<script src="/template/vendors/bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>

<script src="/template/vendors/bower_components/fullcalendar/dist/fullcalendar.min.js"></script>
<script src="/template/vendors/bower_components/autosize/dist/autosize.min.js"></script>


<!-- Placeholder for IE9 -->
<!--[if IE 9 ]>
<script src="/template/vendors/bower_components/jquery-placeholder/jquery.placeholder.min.js"></script>
<![endif]-->

<%= render '/layouts/common_jsLibSet' %>

<script type="text/javascript">
    $(document).ready(function() {
        var date = new Date();
        var d = date.getDate();
        var m = date.getMonth();
        var y = date.getFullYear();

        var cId = $('#calendar'); //Change the name if you want. I'm also using thsi add button for more actions

        //Generate the Calendar
        cId.fullCalendar({
            header: {
                right: '',
                center: 'prev, title, next',
                left: ''
            },

            theme: true, //Do not remove this as it ruin the design
            selectable: true,
            selectHelper: true,
            editable: false,

            //Add Events
            events: <%== @schedules_for_js.to_json %>,

            //On Day Select
            select: function(start, end, allDay) {
                $('#addNew-event').modal('show');
                $('#addNew-event input:text').val('');
                $('#getStart').val(start);
                $('#getEnd').val(end);
            }
        });
        console.log(<%== @schedules_for_js.to_json %>);

        //Create and ddd Action button with dropdown in Calendar header.
        <% if user_signed_in? && (current_user.admin || current_user.is_planet_editor?(@fandom)) %>
        var actionMenu = ''+
            '<ul class="actions actions-alt" id="fc-actions">' +
            '<li class="dropdown">' +
                '<a href="" data-toggle="dropdown"><i class="zmdi zmdi-more-vert"></i></a>' +
                '<ul class="dropdown-menu dropdown-menu-right">' +
                    '<li class="active">' +
                        '<a data-view="month" href="">Month View</a>' +
                    '</li>' +
//                    '<li>' +
//                        '<a data-view="basicWeek" href="">Week View</a>' +
//                    '</li>' +
                    '<li>' +
                        '<a data-view="agendaWeek" href="">Agenda Week View</a>' +
                    '</li>' +
//                    '<li>' +
//                        '<a data-view="basicDay" href="">Day View</a>' +
//                    '</li>' +
                    '<li>' +
                        '<a data-view="agendaDay" href="">Agenda Day View</a>' +
                    '</li>' +
                '</ul>' +
            '</div>' +
            '</li>';
        <% else %>
        var actionMenu = '';
        <% end %>


        cId.find('.fc-toolbar').append(actionMenu);

        //Event Tag Selector
        (function(){
            $('body').on('click', '.event-tag > span', function(){
                $('.event-tag > span').removeClass('selected');
                $(this).addClass('selected');
            });
        })();

        //Add new Event
        $('body').on('click', '#addEvent', function(){
            var eventName = $('#eventName').val();
            var eventContent = $('#eventContent').val();
            var eventDescription = $('#eventDescription').val();
            var eventAllDay = true;
            var tagColor = $('.event-tag > span.selected').attr('data-tag');
            var interval = getIntervalStartToEnd($('#getStart').val(), $('#getEnd').val());

            if (interval !== 1){
                eventAllDay = false;
            }

            if (eventName != '') {
                //Render Event
                $('#calendar').fullCalendar('renderEvent',{
                    title: eventName,
                    start: $('#getStart').val(),
                    end:  $('#getEnd').val(),
                    allDay: eventAllDay,
                    className: tagColor

                },true ); //Stick the event
                addEventRecord(<%= @fandom.id %>, eventName, $('#getStart').val(), $('#getEnd').val(), eventAllDay, tagColor, eventContent, eventDescription);

                $('#addNew-event form')[0].reset();
                $('#addNew-event').modal('hide');
            }

            else {
                $('#eventName').closest('.form-group').addClass('has-error');
            }
        });

        //Calendar views
        $('body').on('click', '#fc-actions [data-view]', function(e){
            e.preventDefault();
            var dataView = $(this).attr('data-view');

            $('#fc-actions li').removeClass('active');
            $(this).parent().addClass('active');
            cId.fullCalendar('changeView', dataView);
        });

        //Add PopOvers
        setPopOverIntoEachSchedule();
    });
</script>


<script>
$(document).ready(function () {
    $('.fc-view-container').hover(function () {
        // swal('dfja;fjals;fjak;dfjadfjaslfjdals;fjl');
        $('.schedule').unbind().click(function () {
//            console.log($(this));
            modal_request($(this));
        });
    });

    $('#event-modal-edit .event-tag span').click(function () {
        var tag = $(this).data('tag');
        $('#event-modal-edit input[name="schedule[class_name]"]').val(tag + ' allDay');
    });

    $('#event_point-date-edit').blur(function () {
        var date = $(this).val();
        var split = date.split('/');
        var year = split[2]; var month = split[1]; var day = split[0];
        $('#event-modal-edit input[name="schedule[event_start]"]').val(date);
        $('#event-modal-edit input[name="schedule[event_end]"]').val((parseInt(day)+1) + '/' + month + '/' + year);
    });
});

function open_edit_schedule_modal() {
    var event = $('#event-modal');
    var editModal = $('#event-modal-edit');

    // title
    var title = $('#event_point-title').text();
    $('#event_point-title-edit').val(title);

    // (temp date)
    var date = $('#event_point-date').text();
    var split = date.split(' - ');
    var year = 0; var month = 0; var day = 0;
    if (split.length === 3){
        year = split[0]; month = split[1]; day = split[2];
        date = day+'/'+month+'/'+year;
    } else {
        date = '';
    }
    $('#event_point-date-edit').val(date);

    // event start
    var e_start = new Date(year, parseInt(month) - 1, day);
    var e_end = new Date(e_start.setDate(e_start.getDate() + 1));
    editModal.find('input[name="schedule[event_start]"]').val(date);
    editModal.find('input[name="schedule[event_end]"]').val(e_end.getDate()+'/'+(e_end.getMonth()+1)+'/'+e_end.getFullYear());
    // event end

    // content (img url)
    var src = $('#event_point-image').attr('src');
    $('#event_point-image-edit').val(src);

    // description
    var description = $('#event_point-description').text();
    $('#event_point-description-edit').text(description);

    // id
    var id  = event.find('input[name="schedule[id]"]').val();
    var fandom_id = event.find('input[name="schedule[fandom_id]"]').val();
    var path = editModal.find('.event_point-image-box-edit').attr('action');
    path = path.replace('{fandom_id}', fandom_id).replace('{id}', id);
    editModal.find('.event_point-image-box-edit').attr('action', path);

    // color
    var class_name  = event.find('input[name="schedule[class_name]"]').val();
    var color       = class_name.split(' ')[0];
    editModal.find('input[name="schedule[class_name]"]').val(class_name);
    editModal.find('.event-tag span.'+color).addClass('selected');

    event.modal('hide');
    editModal.modal({
        backdrop: true,
        keyboard: true
    });
}
</script>