<section id="library" class="container contents_box">
    <div class="row" id="libraries_wrapper">
        <%= render partial: '/links/partials/link_card', collection: @links, as: :link %>
    </div>
</section>