<div id="sub-nav">
    <ul class="tab-group container">
        <% tabs.each do |tab| %>
            <li class="tab"><a href="<%= tab[:path] %>" class="tab_link <%= tab[:active] %>"><%= tab[:name] %></a></li>
        <% end %>
    </ul>
</div>