<section id="toolbar" class="container">
    <div class="row">
        <div class="col-sm-6">
            <ul class="left_group pull-left">
                <li><a href="#" value="1" onclick="return false" class="filter-type btn btn-link no-waves"><span class="zmdi zmdi-camera"></span>photo</a></li>
                <li><a href="#" value="2" onclick="return false" class="filter-type btn btn-link no-waves"><span class="zmdi zmdi-tv-play"></span>video</a></li>
                <li><a href="#" value="3" onclick="return false" class="filter-type btn btn-link no-waves"><span class="zmdi zmdi-view-dashboard"></span>others</a></li>
            </ul>
        </div>
        <div class="col-sm-6">
            <ul class="right_group pull-right">
                <li>
                    <div class="dropdown">
                        <a class="dropdown-toggle btn btn-link no-waves" data-toggle="dropdown" aria-expanded="false">Sort by : <span id="sort-method">Latest</span> <i class="caret"></i></a>

                        <ul class="dropdown-menu pull-right" style="z-index: 3;">
                            <li><a class="sorting-method" href="#" onclick="return false">Latest</a></li>
                            <li><a class="sorting-method" href="#" onclick="return false">Popular</a></li>
                            <li><a class="sorting-method" href="#" onclick="return false">Unwatched</a></li>
                            <li><a class="sorting-method" href="#" onclick="return false">Watched</a></li>
                            <li><a class="sorting-method" href="#" onclick="return false">UnClipped</a></li>
                            <li><a class="sorting-method" href="#" onclick="return false">Clipped</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>