<section id="toolbar" class="container">
    <div class="row">
        <div class="col-sm-6"></div>
        <div class="col-sm-6">
            <ul class="right_group pull-right">
                <li>
                    <div class="dropdown">
                        <a class="dropdown-toggle btn btn-link no-waves" data-toggle="dropdown" aria-expanded="false">Sort by <i class="caret"></i></a>

                        <ul class="dropdown-menu pull-right">
                            <li><a>Latest</a></li>
                            <li><a>Popular</a></li>
                            <li><a>Haven't Seen Yet</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>